@import url('https://fonts.googleapis.com/css2?family=Iceland&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}  */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

*::-webkit-scrollbar{
  width: 0px;
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Iceland";
  scrollbar-width: none;
}

html{
  scroll-behavior : smooth ;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

image-slider-container {
  margin: 0 auto;
  width: 95%;
}

.image-slider-container .slick-prev:before,
.image-slider-container .slick-next:before {
  color: white;
}

.slick-dots{
  position: relative;
  top: 90%;
}
@media not all and (min-width: 768px) {
  .slick-dots{
      top:85%;
  }
}
.slick-next{ 
  right:10px !important;
  z-index:1 !important;
 }
.slick-prev{
   left: 0 !important; 
   z-index: 1 !important;
  }
.slick-next:before,.slick-prev:before{
  font-size: xx-large !important;
}

.slick-dots li button:before{
  color:white !important;
  font-size: small !important; 
}

@layer utilities {
  .neon-green-text {
    text-shadow: 0 0 5px rgba(57, 255, 20, 0.8), 0 0 10px rgba(57, 255, 20, 0.8), 0 0 20px rgba(57, 255, 20, 0.8), 0 0 40px rgba(57, 255, 20, 1);
  }
}

@layer utilities {
  .neon-glow {
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);
  }
}